div.window-content {
  overflow: hidden;
  display: flex;
  max-width: 300px;
}

.bear-thumbnail {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bear-thumbnail img {
  width: 100%;
}

.window-content ul {
  flex: 1 0;
  list-style: none;
  padding: 0;
  margin: 1em 0 1em 1em;
}

img[src='/static/img/polarBear.svg'] {
  filter: drop-shadow(0 0 3px #2056c033);
}
