<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Request Data{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
  <h3>Here's your request data:</h3>
  <ul>
    <li>Method: {{ rqst.method }}</li>
    <li>Protocol: {{ rqst.scheme }}</li>
    <li>URL: {{ rqst.url }}</li>
    <li>Headers:
      <ul>
      {% for key, val in rqst.headers.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
      </ul>
    </li>
    {% if rqst.form|length > 0 %}
    <li>Body:
      <ul>
        {% for tpl in rqst.form.items() %}
          <li>{{ tpl[0] }}: {{ tpl[1] }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  </ul>
  {% block next %}<a href="/get-form">Let's look at forms next</a>{% endblock %}
</body>
</html>