<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Request Data{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
  <h2>Here's your request data:</h2>
  <ul>
    <li>Method: {{ request.method }}</li>
    <li>Protocol: {{ request.scheme }}</li>
    <li>URL: {{ request.url }}</li>
    <li>Headers:
      <ul>
      {% for key, val in request.headers.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
      </ul>
    </li>
    {% if request.form|length > 0 %}
    <li>Body:
      <ul>
      {% for key, val in request.form.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
      </ul>
    </li>
    {% endif %}
  </ul>
  {% block next %}<a href="/form/GET">Next: /form/GET</a>{% endblock %}
</body>
</html>