{% extends 'base.html' %}

{% block title%}{{ method }} Form{% endblock %}

{% block body %}
<h2>Here's a {{ method }} form:</h2>
<form action="/form/submit" method="{{ method }}">
  <p>
    <label for="name-input">What... is your name?</label>
    <input type="text" name="name" id="name-input">
  </p>
  <p>
    <label for="quest-input">What... is your quest?</label>
    <input type="text" name="quest" id="quest-input">
  </p>
  <p>
    <label for="color-input">What... is your favorite color?</label>
    <input type="text" name="color" id="color-input">
  </p>
  <p>
    Holy hand grenade<br>
    <input type="checkbox" name="grenade" id="check-1" value="1">
    <label for="check-1">One...</label>
    <input type="checkbox" name="grenade" id="check-2" value="2">
    <label for="check-2">Two...</label>
    <input type="checkbox" name="grenade" id="check-5" value="5">
    <label for="check-5">Five!</label>
    <input type="checkbox" name="grenade" id="check-3" value="3">
    <label for="check-3">Three, sir.</label>
    <input type="checkbox" name="grenade" id="check-right" value="3">
    <label for="check-right">Three!</label>
  </p>
  <input type="submit" value="{{ method }}">
</form>
{% endblock %}

{% block next %}{% endblock %}