{% extends 'base.html' %}

{% block title%}Response{% endblock %}

{% block body %}
<h2>Here's your response data:</h2>
<ul>
  <!-- protocol can't actually be found in the Flask response object -->
  <li>Protocol: http</li>
  <li>Response Code: {{ response.status }}</li>
  <li>Headers:
    <ul>
      {% for key, val in response.headers.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>Body:
    <p>{{ response.get_data(as_text=True) }}</p>
  </li>
</ul>
{% endblock %}

{% block next %}
Next: <a href="{{ next }}">{{ next }}</a>
{% endblock %}