{% extends 'base.html' %}

{% block title%}Response{% endblock %}

{% block body %}
<h2>Here's your response data:</h2>
<ul>
  <!-- protocol can't actually be found in the response object -->
  <li>Protocol: http</li>
  <li>Response Code: {{ res.status }}</li>
  <li>Headers:
    <ul>
      {% for key, val in res.headers.items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>Body:
    <p>{{ res.get_data(as_text=True) }}</p>
  </li>
</ul>
{% endblock %}

{% block next %}
<a href="/redirect">Redirect demo</a>
{% endblock %}